:root {
  /* admin panel */
  --color-admin-bg: #f3f4f6;
  --color-admin-card: #ffffff;
  --color-admin-border: #e5e7eb;

  /*brand-colors*/
  --color-pink-dark: #C81774;
  --color-pink-light: #FF007F;
  --color-orange: #FA4F43;
  --color-dark-bg: #2B2735;
  --color-green-dark: #00772F;
  --color-green-light: #00B84D;
  --color-red-dark: #AA0000;
  --color-red-light: #FB0000;
  --color-blue-dark: #004580;
  --color-blue-light: #006EC7;
}
